<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/a6054fc9-43d9-4843-85e9-e49f0383204b/resourcegroups/cloud-shell-storage-eastus/providers/Microsoft.Web/sites/SogetiAPI20190224092802</ResourceId>
    <ResourceGroup>cloud-shell-storage-eastus</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sogetiapi20190224092802.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/a6054fc9-43d9-4843-85e9-e49f0383204b/resourcegroups/cloud-shell-storage-eastus/providers/Microsoft.ContainerRegistry/registries/registry20190224092805</ContainerResourceId>
    <ContainerResourceName>registry20190224092805</ContainerResourceName>
    <Subscription>Visual Studio Enterprise</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20190224092805.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>76a9d593-1c9c-486c-afd2-1e37a0cea3c6</ProjectGuid>
  </PropertyGroup>
</Project>